<div class="wrapper">
    <h1>How many lines in this Github repo?</h1>
    <p>Paste the link <b>ending with .git</b> in the searchbox and see how many lines are in the repo.
    <br>This'll break for large repos (100s of MB) because the server I'm hosting on is tiny!</p>
    <input id="linkbox" placeholder="Git link e.g. https://github.com/tupoiu/blah.git"></input>
    <button id="submit">Count!</button>
    <span id="outbox"></span>
</div>
<script>
    var input = document.getElementById('linkbox')
    var button = document.getElementById('submit')

    button.onclick = function() {
        var link = input.value
        var span = document.getElementById('outbox')
        span.textContent = 'Loading...'
        fetch('/loc?git_link=' + link)
            .then(response => response.json())
            .then(data => {
                if (!data.lines) {
                    throw new Error('Failed to download git repo')
                } else {
                    span.textContent = data.lines
                }
            }).catch(err => {
                span.textContent = 'Error: ' + err
            })
    }
</script>
<style>
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    #linkbox {
        width: 50%;
        font-size: 16px;
        margin: 5%;
    }
    #submit {
        font-size: 20px;
    }
</style>